
<h3><strong>Kvar att göra</strong> </h3>
<ul>
    <li>Projektkrav 5,6 och 7</li>
    <li>Implementera AJAX</li>
    <li>Förflytta all validering till modeklasserna (bort från controllern)</li>
</ul>



@*<h2><strong>Begränsningar</strong> </h2>

    <ul>
        <li>Sessions borde egentligen hanteras som claims(?) med hjälp av ASP IDENTITY.</li>
    </ul>*@