<h2><strong>Att göra:</strong></h2>

<ul>
    <li> Implementera AJAX i användargränssnittet <strong>Status:</strong> Ej klart.</li>
    <li> Sätta upp Email-recovery via Identity<strong>Status:</strong> Ej klart.</li>
</ul>



<h2><strong>Begränsningar</strong> </h2>

<ul>

    <li>Sessions borde egentligen hanteras som claims(?) med hjälp av ASP IDENTITY.</li>
</ul>