

<h2>Startsida.</h2>


<h3>Sessions verkar vara ett alternativ till TempData i MVC. <strong>Undersök!</strong></h3>

@*<h3><strong>LINQ</strong></h3>
<ul>
    <li> Du använder inga uttalade JOINS i din kod. Kan detta göras för att reducera/effektivisera din kod?</li>

</ul>
<h3><strong>Repositories/Models/Controller</strong></h3>

<ul>
    <li> Vilken kod ska ligga i var? Seperation av lager? Lägga mer kod i models istället för i controller? </li>
</ul>

<h3><strong>ViewModels</strong></h3>

<ul>
    <li> Kan jag minska antalet viewModels?</li>
    <li> När behövs ViewModels och när behövs de inte?</li>

</ul>

<h3><strong>TempData och Anonyma objekt</strong></h3>
<ul>
<li> Se över vilket som är det lämpligaste sättet att skicka data emellan Actions.TempData, anonyma objekt eller annat? Beror på situationen?</li>

</ul>*@
