<h2>ToDo</h2>




<h2><strong>Att göra:</strong></h2>


<ul>

    <li> Rätta till användargränssnittet. <strong>Status:</strong> Ej klart.</li>
    <li> Implementera AJAX i användargränssnittet <strong>Status:</strong> Ej klart.</li>
</ul>


<h5>Kom ihåg: Tempdata är en form av session, därför behålla dessa.</h5>