


<h2><strong>Saker att täcka i projektbeskrivningen:</strong> </h2>
<ul>
    <li>Jag strävar efter betyget G +. De kraven jag har uppfyllt är Identity samt avancerade kontroller inmatningsformulär</li>
    <li>Motivera och täcka följande: Identity, ContextSingelton, Repositoy och Service Layer</li>
</ul>


<h2><strong>Begränsningar</strong> </h2>
<ul>
    <li>Sessions borde egentligen hanteras som claims(?) med hjälp av ASP IDENTITY.</li>
 </ul>