@{
    ViewBag.Title = "Index";
}

<h2>Startsida.</h2>


<h3>Städa upp/Refaktorisera sidan <u>innan</u> du implementerar mer funktionalitet - annars kommer du få ångra det framöver. <strong>Dessutom bra övning!</strong></h3><br/>

<ul>
    <li> Försöka minska antalet ViewModels.</li>
    <li> Försöka minska kod där du kan, till exempel med bättre LINQ eller att återanvända metoder.</li>
    <li> Effektivsera kod som du vet är tvivelaktigt implementerad.</li>
    <li>Se över namngivningen på metoder och variabler.</li>
    <li>UTGÅ FRÅN DRY-principen.</li>
    <li> Se över vilket som är det lämpligaste sättet att skicka data emellan Actions.TempData, anonyma objekt eller annat? Beror på situationen?</li>
    

</ul>
