<h2>ToDo</h2>


<h2><strong>Att göra:</strong></h2>


<ul>
    <li> Lösa identity. <strong>Status:</strong> Ej klart.</li>
    <li> Rätta till användargränssnittet. <strong>Status:</strong> Ej klart.</li>
    <li> Implementera AJAX i användargränssnittet <strong>Status:</strong> Ej klart.</li>
    <li> Ersätta all tempdata med sessionvariabeler (JSON)<strong>Status:</strong> Ej klart.</li>

</ul>