@model IEnumerable<StudiekollenNew.Models.Test>
@{
    ViewBag.Title = "Index";
}

<h2>Startsida.</h2>

<ul>
    <h3><Strong>Alla test: </Strong></h3>
    @foreach (var test in Model)
    {
        <li>@test.Name</li>
    }
</ul>

