@model IEnumerable<StudiekollenNew.Models.Test>
@{
    ViewBag.Title = "Index";
}

<h2>Startsida.</h2>

<h3>Alla test: </h3>

<ul>
    @foreach (var test in Model)
    {
        <li>@test.Name</li>
    }
</ul>

