@{
    ViewBag.Title = "Index";
}

<h2>Startsida.</h2>


<h3><strong>LINQ</strong></h3>
<ul>
    <li> Du använder inga uttalade JOINS i din kod. Kan detta göras för att reducera/effektivisera din kod?</li>
    <li> Vilka mer operators som du lärt dig av Mosh kan du implementera i koden?</li>

</ul>
<h3><strong>Repositories</strong></h3>

<ul>
    <li> Är dina repositories bra upplagda? Är det bättre att så mycket som möjligt görs i dina repositories och inte i din controller?</li>
</ul>

<h3><strong>ViewModels</strong></h3>

<ul>
    <li> Kan jag minska antalet viewModels?</li>

</ul>
<h3><strong>TempData och Anonyma objekt</strong></h3>

<ul>
<li> Se över vilket som är det lämpligaste sättet att skicka data emellan Actions.TempData, anonyma objekt eller annat? Beror på situationen?</li>

</ul>
