
@{
    ViewBag.Title = "ToDo";
}

<h2>ToDo</h2>


<h3><strong>Att göra:</strong></h3>

<ul>
    <li> Det ska inte gå att posta tomma frågor. Fråga utan svar går bra, men inte svar utan fråga. <strong>Status:</strong> Ej klart.</li>
</ul>

