
@{
    ViewBag.Title = "ToDo";
}

<h2>ToDo</h2>


<h3><strong>Att göra:</strong></h3>

<ul>
    <li> Det ska inte gå att posta tomma frågor. Fråga utan svar går bra, men inte svar utan fråga. <strong>Status:</strong> Ej klart.</li>
    <li> Om någon söker på en användare i drop-down listan som inte har några prov ska detta stå i ren text. <strong>Status:</strong> Klart.</li>

</ul>

