@model StudiekollenNew.ViewModels.FindTestViewModel
@{
    ViewBag.Title = "EditTest";
}

<h2>Redigera prov</h2>

<ul>
    <h3>Prov tillhörande @Model.Username</h3>
    @foreach (var test in Model.AllTests)
    {
        <li>@test.Name</li>
    }
</ul>
