
@{
    ViewBag.Title = "EditTest";
}

<h2>EditTest</h2>


<h3>Detta ska implementeras med en PROFESSIONELL DESIGN</h3>
    <ul>
        <li>Ändra provnamn</li>
        <li>Ta bort frågor</li>
        <li>Lägga till frågor</li>
    </ul>