
@{
    ViewBag.Title = "EditTest";
}

<h2>Redigera prov</h2>












@*<@*h3>Se Moshs video "Edit Form" för detta. Arbeta framåt utifrån det.</h3>
<ul>
    <li>Ta bort prov</li>
    <li>Ta bort frågor</li>
    <li>Lägga till frågor</li>
    <li>Ändra provnamn</li>
</ul>*@


