@model StudiekollenNew.ViewModels.DeleteTestViewModel

@{
    ViewBag.Title = "HandleTest";
}

<h2>Hantera prov</h2>

@using (Html.BeginForm("DeleteTest", "Test"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />      
        <div class="form-group">
            <div class="col-md-10"> 
                <input type="submit" value="Radera @Model.Name" class="btn btn-default btn-block"/>
            </div>
        </div>
    </div>

}




@*<@*h3>Du ska kunna:</h3>
<ul>
    <li>Ändra provnamn</li>
    <li>Ta bort frågor</li>
    <li>Lägga till frågor</li>
</ul>*@


