@model StudiekollenNew.ViewModels.FindTestViewModel
@{
    ViewBag.Title = "SearchForTest";
}

<h2>Sök efter prov</h2>

@using (Html.BeginForm("SearchForTest", "Test"))
{
    @Html.AntiForgeryToken()

   
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            @Html.Label("Användare", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">             
                @Html.DropDownListFor(model => model.Username , new SelectList(Model.Users,"Username","UserName"),"Välj användare",new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Sök" class="btn btn-default btn-block" />
            </div>
        </div>
    </div>
 
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

