@model StudiekollenNew.ViewModels.FindTestViewModel
@{
    ViewBag.Title = "TempView";
}

<h2>Temporär view för att hålla prov för specifika användare</h2>

<ul>
    <h3><strong>Prov tillhörande @Model.Username:</strong></h3>
    @foreach (var test in Model.AllTests)
    {
        <li>@test.Name</li>
    }
</ul>