body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url(https://i.ytimg.com/vi/GUqnUdnKLKU/maxresdefault.jpg);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}


/* Set width on the form input elements since they're 100% wide by default */
input, select, textarea {
    
    max-width: 280px;
    /*max-width: 680px;*/
}

.questionForm input, textarea, btn {
    max-width: 700px;
}

.questionForm .btnDiv {
    padding-left: 17px;
}

.createExam .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    margin-left: 0;
}



.font {
    font-weight: bold;
}

body {
    margin-top: 30px;
    background: url(https://newevolutiondesigns.com/images/freebies/white-wallpaper-30.jpg) no-repeat center center fixed;
    color: black;
    font-family: Arial;
}

br {
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: 20px; /* change this to whatever height you want it */
}


.btn {
    background-color: black;
    color: whitesmoke;
}


.field-validation-error {
    color: darkred;
    font-weight: bold;
}

.input-validation-error {
    border: 2px solid darkred;
}

/*br {
    display: block;
    margin: 10px 0;
}*/