<h2>@Model.ExamName</h2><br />

<h4>Provet har inga frågor.</h4><br />

@Html.ActionLink("Lägg till ny fråga", "AddQuestionToExam", "Question", new { examName = Model.ExamName, examId = Model.ExamId }, new { @class = "btn btn-default" })
&nbsp;&nbsp;&nbsp;
@Html.ActionLink("Ändra provinställningar", "UpdateExam", "Exam", new { examId = Model.ExamId }, new { @class = "btn btn-default" })<br />



